%nav.navbar{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => "/"}
      %img{:height => "28", :src => "https://t3.ftcdn.net/jpg/00/80/26/14/240_F_80261433_tVk2FsBuhMIXCv9vlHtUPtHoWwdJmEQV.jpg", :width => "120"}/
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarBasicExample.navbar-menu
    .navbar-start
      %a.navbar-item
        Home
      %a.navbar-item
        Documentation
      .navbar-item.has-dropdown.is-hoverable
        %a.navbar-link
          More
        .navbar-dropdown
          %a.navbar-item
            About
          %a.navbar-item
            Jobs
          %a.navbar-item
            Contact
          %hr.navbar-divider/
          %a.navbar-item
            Report an issue
    .navbar-end
      .navbar-item
        = link_to "Logout", destroy_user_session_path, method: :delete, class: "button 92is-light"
